body {
    background-color: rgb(167, 140, 140);
}


.first {
    background-color: rgb(239, 241, 241);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 1px;
    margin: 10px;
    text-align: center;
}
.second {
    background-color: rgb(201, 155, 155);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    a {
        background-color: rgb(233, 202, 202);
        color: rgb(12, 12, 12);
        border: 1px solid black;
        padding: 7px;
        margin: 5px;    
    }
}
.third {
    background-color: rgb(245, 250, 249);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.fourth {
    background-color: rgb(237, 243, 241);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.fifth {
    background-color: rgb(240, 243, 242);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 0px;
    margin: 10px;
    text-align: center;
}
.sixth {
    background-color: rgb(240, 243, 242);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: left;
    
}
.seventh {
    background-color: rgb(240, 243, 242);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    
}
.eighth {
    background-color: rgb(240, 243, 242);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
   
}
a {
    background-color: rgb(163, 145, 145);
    color: rgb(12, 12, 12);
    border: 2px solid rgb(131, 105, 105);
    padding: 5px;
    margin: 5px;    
}
.ninth {
    background-color: rgb(240, 243, 242);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    
}
.tenth {
    background-color: rgb(240, 243, 242);
    color: rgb(12, 12, 12);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    
}
a {
    background-color: rgb(175, 166, 166);
    color: rgb(12, 12, 12);
    border: 2px solid rgb(131, 105, 105);
    padding: 5px;
    margin: 5px;    
}